.job-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
}
.job-list__text {
    font-size: 2rem;
    color: var(--color-text-secondary);
    margin-bottom: 5rem;
}
.job-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.load-more {
    padding: 2rem 4rem;
    border: none;
    border-radius: 10rem;
    box-shadow: var(--box-shadow);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 2rem;
    cursor: pointer;
}
.load-more:focus {
    outline: none;
}

@media only screen and (max-width: 900px) { 
    .job-list {
        width: 100%;
        margin-top: 8rem;
    }
}