.job {
    padding: 2rem 4rem;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    box-shadow: var(--box-shadow);
}
.job > * {
    margin: 0.6rem;
}
.job__company {
    grid-column: 1 / -1;
    font-size: 1.6rem;
    color: var(--color-text-secondary);
}
.job__role {
    font-size: 1.5rem;
    color: #424242;
}
.job__time, .job__type {
    font-size: 1.2rem;
    color: var(--color-primary);
    font-weight: 600;
}
.job__image, .job__time {
    justify-self: end;
}
.job__image {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
}