.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome__img {
    width: 50%;
}
.welcome__text {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 1rem;
    color: var(--color-text-primary);
}
.welcome__text-small {
    font-size: 1.7rem;
    color: var(--color-text-secondary);
    
}