.header {
    text-align: center;
    margin: 2rem 0;
}
.header__logo {
    font-size: 2rem;
    color: var(--color-primary);
    letter-spacing: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 8px 16px rgba(50,48,58,.25);
    text-decoration: none;
}