html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}

:root {
    --color-text-primary: #424242;
    --color-text-secondary: #616161;
}