html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeeee;
}

:root {
    --color-primary: #66bb6a;
    --color-text-primary: #424242;
    --color-text-secondary: #616161;
    --color-text-tertiary: #9e9e9e;
    --box-shadow: 0 1rem 2rem rgba(0,0,0,0.03);
}